@font-face {
  font-family: "a-alley-garden";
  src: url("./a-alley-garden-font/AlleyGarden-2Ogdw.ttf");
}
@font-face {
  font-family: "bad-unicorn";
  src: url("./bad-unicorn-font/BadUnicornDemoRegular-BVWx.ttf");
}
@font-face {
  font-family: "fall-is-coming";
  src: url("./fall-is-coming-font/FallIsComingRegular-Mx9B.ttf");
}
@font-face {
  font-family: "gomgom-handwrite";
  src: url("./gomgom-handwrite-font/GomgomHandwriteRegular-3zzWZ.ttf");
}
@font-face {
  font-family: "mother-tongue";
  src: url("./mother-tongue-personal-use-font/MotherTonguePersonalUse-x3L3m.otf");
}
@font-face {
  font-family: "my-happy-ending";
  src: url("./my-happy-ending-font/MyHappyEndingRegular-Lx7G.ttf");
}
@font-face {
  font-family: "quite-magical";
  src: url("./quite-magical-font/QuiteMagicalRegular-8VA2.ttf");
}
@font-face {
  font-family: "rainbow-colors";
  src: url("./rainbow-colors-font/RainbowColorsRegular-yaq2.ttf");
}

@font-face {
  font-family: "raphtalia";
  src: url("./raphtalia/Raphtalia-2ZmK.ttf");
}
